<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.lulu.mapper.RoleMapper">
    <update id="updateMenuListById">
        update role
        set role.menuList=#{roleList}
        where role.id=(select
                           distinct ur.role_id
                       from user_role ur
                       where ur.user_id=#{l});
    </update>

    <select id="selectRoleByUserId" resultType="java.lang.String">
        select r.name
        from user_role ur
                 left join  role r on r.id=ur.role_id
        where ur.user_id=#{id}
    </select>

</mapper>
